.navlists a:hover{
    color:rgb(214, 202, 38)!important;
}

.navbar-nav a{
    color:white !important;
}

    
.navbar-toggler-icon a{
    color:white !important;
}


.toggler{
    color:white !important;
    margin-top: 1rem;
}

.navlists a{
    font-size: 1.7rem;
    color:white !important;
    font-weight: 300;
}

.logo{
    color:rgb(214, 202, 38) !important;
}

/* .logo{
    color:white !important;
    font-size:1.5rem !important;
    font-weight: bold;
    margin-top: 2rem;
} */

/* .logo a:hover{
    color:rgb(160, 174, 253) !important;
} */