.skills-list >div {
    margin:2rem;
    font-weight: bold;
}

.skillslists i{
    font-size: 3.5rem;
}

.Skills{
    background: linear-gradient(to bottom,rgb(89, 89, 129),rgb(64, 90, 175));
    min-height:100vh;
}

.card{
    width: 270px;
    height: 300px;
    border-radius: 20px !important; 
    background: rgb(26, 40, 66) !important;
}

.cardTitle{
    text-align:center;

}

.cardSubTitle{
text-align: center;
font-weight: 600;
}

.cardText{
    padding:20px;
    color:rgba(227, 227, 228, 0.87);
}